<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django project</title>
  </head>
  <body>
    <h1>Welcome to My Learning Platform</h1>
    <p>
      This is my first django template. <br />
      I created this to learn about how django returns templates. <br />
      Currently, this file is under the dir:
      03-projects-and-apps/learning_platform/courses/templates/courses/homePage.html
    </p>
    <ul>
      <li>Python</li>
      <li>django</li>
      <li>Linux</li>
    </ul>
  </body>
</html>
